# Package exports.
export(configure_bar)
export(parSim)

# Package imports.
importFrom(dplyr,"%>%")
importFrom(dplyr,bind_rows)
importFrom(dplyr,filter)
importFrom(dplyr,left_join)
importFrom(parabar,BarFactory)
importFrom(parabar,configure_bar)
importFrom(parabar,evaluate)
importFrom(parabar,export)
importFrom(parabar,get_option)
importFrom(parabar,par_lapply)
importFrom(parabar,set_option)
importFrom(parabar,start_backend)
importFrom(parabar,stop_backend)
importFrom(utils,modifyList)
importFrom(utils,write.table)
