#exportPattern("^[[:alpha:]]+")
export("parSim")
export("parSim_dt")
import(dplyr, except = c(first, last, between))
import(data.table)
import(snow)
import(pbapply)

importFrom("methods", "is")
importFrom("utils", "write.table")



 